body, html, p, h1, h2, h3, a {
    padding: o;
    margin: 0;
    border: o;
}
body {
    background-color: rgb(255, 255, 187);
}
.navcontainer {
    background-color: rgb(204, 204, 50);
    height: 50px;
    box-shadow: 2px 2px 5px gray;
}
.navcontainer li {
    display: inline;
    text-shadow:2px 2px 5px gray;
}
.navcontainer a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
.left {
    padding: 0;
    margin-left: 10px;
    float: left;
}
.right {
    float: right;
}
.master {
    text-align: center;
    margin-top: 180px;
}
.container {
    display: inline-block;
}
.content {
    border: 2px solid  rgb(204, 204, 50);
    float: left;
    width: 220px;  
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px gray;
}
.content h2 {
    text-align: initial;
    margin: 15px 0 15px 15px;
    text-shadow:1px 1px 2px gray;
}
.content p {
    text-align: initial;
    padding: 0 20px 20px 20px;
}
.content a {
    text-decoration: none;
    color: white;
    width: 180px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 15px;
    background-color: rgb(204, 204, 50);
    box-shadow: 2px 2px 5px gray;
}